.about{
    &-row{
        align-items: center;
    }
    &-flex{
        // display: flex;
        // justify-content: center;
        position: relative;
        bottom: -2px;
    }
    &-ttl{
        color: #000000;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 1.4;
        span{
            color: $brand-color;
        }
    }
    &-big-word{
        display: flex;
        line-height: 1.4;
        align-items: center;
        margin-bottom: 0;
        span{
            font-size: 50px;
            margin-right: 5px;
        }
    }
    &-box{
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &-descr{
        line-height: 1.3;
    }
    &-ul{

    }
    &-li{
        margin-bottom: 10px;
        position: relative;
        padding-left: 15px;
        line-height: 1.3;
        transition: all .25s;
        &:last-child{
            margin-bottom: 0;
        }
        &::before{
            content: '•';
            font-size: 30px;
            color: $brand-color;
            line-height: 0.8;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &-desctope{

    }
    &-mobile{
        display: none;
    }
}