.accordion{
  &-item{
    background-color: #fafafa;
    border-radius: 3px;
    padding:25px 0;
    position: relative;
    cursor: pointer;
    max-width: 770px;
    margin:0 auto;
    margin-bottom:25px;
    &:last-child{
      margin-bottom:0;
    }
  }
  &__content{
    display: none;
    padding-top:20px;
    padding-left:25px;
    padding-right:15px;
    color: #8f8f8f;
    @include minMedia(992){
      padding-left:100px;
      padding-right:85px;
    }
  }
  &__header{
    min-height: 42px;
    display: flex;
    align-items: center;
    padding:0 58px 0 20px;
    @include minMedia(576){
      padding:0 85px;
    }
  }
  &__icon{

    width: 40px;
    height: 40px;
    border: 2px solid #f35350;
    border-radius: 20px 0px 0px 20px;
    position: relative;
    transition: .3s;
    &:before,
    &:after{
      content:'';
      display: block;
      position: absolute;
      width:15px;
      height:2px;
      background: #f35350;
      transition: .3s;
      top:17px;
    }
    &:before{
      transform-origin: center;
      transform: rotate(30deg);
      left: 6px;
    }
    &:after{
      transform-origin: center;
      transform: rotate(-30deg);
      left: 19px;
    }

    &.is-active{
      border-color:#fff;
      &:before{
        width:30px;
        transform-origin: center;
        transform: rotate(-45deg);
        left: 10px;
      }
      &:after{
        width:30px;
        transform-origin: center;
        transform: rotate(45deg);
        left: 10px;
      }
    }
    &-container{
      position: absolute;
      top:20px;
      right:0;
      width:57px;
      background: #fff;
      border-radius: 27px 0 0 27px;
      padding:8px;
    }
  }
  &__num{
    background-color: #fff;
    width:57px;
    border-radius: 0px 27px 27px 0px;
    color: #e6e6e6;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    padding:10px;
    position: absolute;
    left:0;
    top:20px;
    display: none;
    @include minMedia(576){
      display: block;
    }
  }
}