.box-help{
    $bh: &;
    padding: 35px 0;
    background: none;
    transition: all .25s;
    margin-right: 5px;
    &:hover{
        padding-left: 20px;
        background: #f5f5f5;
    }
    &__icon{
        width: 55px;
        height: 55px;
        fill: #ff3988;
        transition: all .25s;
        &-box{
            padding-left: 0;
            max-width: 70px;
        }
    }
    &__descr{
        padding-left: 0;
        padding-right: 0;
    }
    &__ttl{
        font-weight: 700;
        transition: all .25s;
        text-transform: uppercase;
        margin-bottom: 15px;
        line-height: 1.4;
        #{$bh}:hover &{
            color: #ff3988;
        }
    }
    &__p{
        color: $mid-grey;
        line-height: 1.3;
    }
}