.business-help{
    &__row{
        align-items: center;
        align-content: center;
        box-shadow: 10px 10px 100px 0 rgba(0,0,0,.1);
        border-radius: 2px;
        overflow: hidden;
    }
    &__img{
        &-box{
            display: flex;
        }
    }
    &__descr{
        padding-left: 70px;
    }
    &__ttl{
        text-align: left;
        color: $blue-brand;
    }
    &__subttl{
        margin-bottom: 30px;
    }
}

.sale-help{
    &__row{
        // align-items: center;
        align-content: center;
        box-shadow: 10px 10px 100px 0 rgba(0,0,0,.1);
        border-radius: 2px;
        overflow: hidden;
    }
    &__img{
        &-box{
            background: url(../images/sale.png) center/contain no-repeat;
            // display: flex;
            position: relative;
            &::after{
                content: '';
                width: 100%;
                height: 100%;
                background: #7800ff; /* Old browsers */
                background: -moz-linear-gradient(45deg, #ff9700 0%, #ff1e77 50%, #7800ff 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(45deg, #ff9700 0%,#ff1e77 50%,#7800ff 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(45deg, #ff9700 0%,#ff1e77 50%,#7800ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9700', endColorstr='#7800ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
    }
    &__descr{
        padding: 100px 0;
        padding-left: 70px;
    }
    &__ttl{
        text-align: left;
        color: $blue-brand;
    }
    &__subttl{
        margin-bottom: 30px;
    }
}
