.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
  z-index:2;
  padding:7px 23px;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s;
  font-size: inherit;
  text-align: center;
  min-height: 40px;
  background: map_get($theme-color,'light-blue');
  @include minMedia(768){
    padding: 11px 25px;
    min-height: 60px;
  }
  &:hover{
    background: #253782;
  }
  &--submit{

    color:#fff;
    font-size: 1rem;
    font-weight:700;
    text-transform: uppercase;
    @include minMedia(768){
      font-size: 1.5rem;
      width:100%;
    }
  }
  &--calc{
    max-width: 270px;
    color:#fff;
    font-size: 1.125rem;
    font-weight:700;
  }
  &--calc-submit{
    color:#fff;
    font-weight:700;
    text-transform: uppercase;
  }
}

.button{
  $b: &;
  cursor: pointer;
  &-main{
    color: #000;
    background: #fff;
    text-align: center;
    padding: 14px 35px;
    border-radius: 40px;
    display: inline-block;
    border: 3px solid #fff;
    font-weight: 700;
    font-size: 24px;
    transition: all .25s;
    cursor: pointer;
    &:hover{
      color: #ffffff;
      background: none;
    }
    &:active{
      background: rgba(255,255,255,.2);
    }
  }
  &-blue{
    color: #fff;
    border: 3px solid $blue-brand;
    background: $blue-brand;
    &:hover{
      color:  $blue-brand;
      background: none;
    }
    &:active{
      color:  $blue-brand;
      background: $blue-brand-active;
    }
  }
  &-blue-white{
    &:hover{
      color:#000;
      background: $white;
      border-color: $white;
    }
    &:active{
      color:  $blue-brand;
      background: $blue-brand-active;
    }
  }
  &-lite{
    padding: 8px 30px;
  }
  &-menu{
    width: 45px;
    height: 45px;
    display: inline-block;
    background: rgba(255,255,255,.2);
    border-radius: 100px;
    padding: 8px;
  }
}