.check-social{
    $csb: &;
    &__col{
        padding: 0;
    }
    &__box{
        max-width: 330px;
        margin: 0 auto;
        box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
        transition: all .25s;
        &:hover{
            background: $brand-color;
        }
    }
    &__ttl{
        color: #000000;
        text-transform: uppercase;
        font-weight: 700;
        &-box{
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            padding: 30px 0;
        }
        span{
            color: $brand-color;
        }
        #{$csb}:hover &{
            color: $white;
            span{
                color: $white;
            }
        }
    }
    &__icon{
        width: 40px;
        height: 40px;
        margin-right: 15px;
        &-facebook,
        &-instagram,
        &-vk{
            path{
                transition: all .25s;
            }
        }
        &-facebook{
            path{
                fill: #3a559f;
            }
        }
        &-instagram{
            path{
                fill: url(#grad3);
            }
        }
        &-vk{
            path{
                fill: #6488ae;
            }
        }
        #{$csb}:hover &{
            &-facebook,
            &-instagram,
            &-vk{
                path{
                    fill: #ffffff;
                }
            }
        }
    }
    &__descr{
        border-top: 1px dashed #cdcdcd;
        border-bottom: 1px dashed #cdcdcd;
        padding: 30px 29px;
    }
   
    &__li{
        margin-bottom: 15px;
        position: relative;
        padding-left: 15px;
        line-height: 1.3;
        transition: all .25s;
        &:last-child{
            margin-bottom: 0;
        }
        &::before{
            content: '•';
            font-size: 30px;
            color: $brand-color;
            line-height: 0.8;
            position: absolute;
            top: 0;
            left: 0;
        }
        #{$csb}:hover &{
            color: $white;
            &::before{
                color: $white;
            }
        }
    }
    &__button{
        &-box{
            padding: 20px 0;
            text-align: center;
        }
        #{$csb}:hover &{
            color:#000;
            background: $white;
            border-color: $white;
            &:active{
              color:  $white;
              background: $white-hover;
              border-color: $white;
            }
        }
    }
}