.contact{
    &-row{
        width: 100%;
        max-width: 1030px;
        margin: 30px auto 0;
    }
    &-ttl{
        margin-bottom: 40px;
    }
    &-box{
        display: flex;
        align-items: center;
    }
    &-icon{
        max-width: 50px;
        max-height: 50px;
        width: 50px;
        height: 50px;
        fill: $brand-color;
        &__box{
            margin-right: 20px;
        }
        &__phone{
            width: 90%;
            height: 90%;
        }
    }
    &-descr{
        color: #2d3e50;
    }
}