.cta{
    &-box{
        max-width: 1030px;
        margin: 0 auto;
        width: 100%;
        padding: 90px 0 80px;
        background: #fff;
        border-radius: 4px;
        text-align: center;
        box-shadow: 0 0 35px 0 rgba(0,0,0,.1);
    }
    &-ttl{
        background: linear-gradient(to left, #ff9700, #ff1e77, #7800ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &-before{
        position: relative;
        &::before{
            content: '';
            width: 100%;
            height: 75px;
            background: #f4f4f4;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &-form{
        &__title{
          font-size: 24px;
          font-weight:700;
          color:#fff;
          line-height:1.2;
          text-align: center;
          letter-spacing: -0.5px;
          &-modal{
            margin-bottom: 5px !important;
          }
          &-thanks{
            margin-bottom: 15px !important;
          }
        }
        &__subtitle{
          color: #fff;
        }
        &__container{
            padding:30px;
            background: #fff;
            border-radius: 3px;
        }
        &__modal_container{
          padding: 45px 28px 40px;
        }
        &__modal_thanks{
          padding: 65px 28px;
        }
        &__body{
          margin-bottom:30px;
        }
        &__input-container{
          margin-bottom:15px;
          &-button{
            text-align: center;
          }
          &:last-child{
            margin-bottom:0;
          }
        }
        &__input{
          width: 100%;
          text-align: left;
          font-family: "Roboto Condensed", sans-serif;
          font-size: 18px;
          font-weight: 500;
          padding: 13px;
          border: none;
          color: $blue-brand;
          border-bottom: 1px solid #999999;
          transition: all .25s;
          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #999999;
            opacity: 1; /* Firefox */
          }
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #999999;
          }
          &::-ms-input-placeholder { /* Microsoft Edge */
            color: #999999;
          }
          &:hover{
            border-bottom: 1px solid $blue-brand;
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: $blue-brand;
              opacity: 1; /* Firefox */
            }
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: $blue-brand;
            }
        
            &::-ms-input-placeholder { /* Microsoft Edge */
              color: $blue-brand;
            }
          }
          &:focus{
            border-bottom: 1px solid $blue-brand;
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: $blue-brand;
              opacity: 1; /* Firefox */
            }
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: $blue-brand;
            }
        
            &::-ms-input-placeholder { /* Microsoft Edge */
              color: $blue-brand;
            }
          }
        }
    }
    &-agreement{
        &__text{
            font-size: 12px;
            line-height: 1;
            text-align: center;
            margin-top: 45px;
        }
        &__link{
            color: $blue-brand;
            font-weight: 700;
            text-decoration: underline;
        }
    }
    &-text{
        text-align: center
    }
    &-ttl{
        &__thanks{
            margin-bottom: 10px;
            font-size: 34px;
        }
    }
}