.help-check{
    &__row{
        justify-content: left;
        text-align: left;
        color: #fff;
    }
    &__bg{
        background: url(../images/men.png) right bottom/contain no-repeat;
        padding-top: 60px;
        padding-bottom: 85px;
    }
}