.overlay{
  visibility: hidden;
  backface-visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  left:0;
  top:0;
  z-index: 110;
  background: $blue-brand;
  &--is-visible{
    visibility: visible;
  }
  .bg-element-animation{
    transition: none;
  }
}
.modal{
  visibility: hidden;
  backface-visibility: hidden;
  padding: 25px 20px;
  z-index: 101;
  position: absolute;
  left:0;
  right:0;
  top:25px;
  margin:auto;
  @include minMedia(769){
    top:100px;
  }
  &__inner{
    transition: all 0.3s;
    transform: translateY(-5%);
    opacity: 0;
    width:100%;
    box-shadow: 48.7px 64.7px 147px rgba(6, 58, 65, 0.26);
    position: relative;
    border-radius: 3px;

    &:before{
      position: absolute;
      top:0;
      left:0;
    }
    strong{
      font-weight:700;
    }
    p{
      margin-bottom:15px;
      &:last-child{
        margin-bottom:0;
      }
    }
    ul{
      margin-bottom:15px;
    }
    li{
      position: relative;
      margin-bottom:15px;
      &:last-child{
        margin-bottom:0;
      }
      &:before{
        content:'';
        border-radius: 100%;
        width:6px;
        height:6px;
        background: #1e4d5a;
        display: inline-block;
        line-height: 18px;
        margin-right:10px;
      }
    }
  }
  &--is-visible{
    visibility: visible;
  }
  &--is-visible &__inner{
    transform: translateY(0);
    opacity: 1;
  }
  &--default{
    width:100%;
    max-width: 430px;
    margin: 0 auto;
  }
  &--thanks{
    width:100%;
    max-width: 540px;
    margin: 0 auto;
  }
  &--wide{
    width:100%;
    max-width:850px;
  }
  &--callback{
    width:100%;
    max-width: 630px;
  }

  &__title{
    text-align: center;
  }
  &__subtitle{
    font-weight:700;
    text-transform: uppercase;
  }
  &__close{
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    right: 25px;
    cursor: pointer;
    display: block;
    background: #fff;
    border-radius: 100px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
    @include minMedia(480){
      right:-30px;
    }
    &:before,
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      background: #999999;
      top: calc(50% - 1px);
      left: calc(50% - 15px);
      transform-origin: center;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
  &__description{
    padding:15px;
    @include minMedia(768){
      padding:30px 55px;
    }
  }
  &__btn{
    display: inline-block;
    transition: .3s;
    min-width:110px;
    text-align: center;
    text-transform: uppercase;
    background: #fff;
    padding:14px 22px;
    border:2px solid #f35350;
    border-radius: 50px;
    font-weight:700;
    &+&{
      margin-left:15px;
    }
    &:hover{
      color:#f35350;
      background: #fff;
    }
  }
}
.agreement{
  text-align: center;
  font-size: 14px;
  &--mob{
    @include minMedia(768){
      display: none;
    }
  }
  &--desktop{
    display: none;
    @include minMedia(768){
      display: block;
    }
  }
  a{
    text-decoration: underline;
  }
}
