.nav{
    $n: &;

    &-main{
        text-align: right;
    }
    &-ul{

    }
    &-li{
        color: #fff;
        display: inline-block;
        &:last-child{
            #{$n}-link{
                padding-right: 0
            } 
        }
    }
    &-link{
        font-size: 14px;
        padding: 30px 15px;
        display: inline-block;
    }
    &-mobile{
        &__button{
            display: none;
            text-align: right;
        }
        &__list{
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            align-content: center;
            justify-content: center;
        }
        &__item{
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            margin: 15px 0;
        }
        &__link{

        }
        &__menu{
            &-box{
                display: none;
                width: 100%;
                height: 100%;
                background: $brand-color;
                position: fixed;
                z-index: 5;
            }
        }
        &__button{
            &-close{
                font-family: 'LatoWebLight', sans-serif;
                font-size: 50px;
                color: #ffeff5;
                position: absolute;
                top: 15px;
                right: 15px;
            }
        }
    }
}