.price{
    &-mobile{
        display: none;
    }
    &-descript{
        &__ul{
            margin-top: 75px;
        }
        &__li{
            padding: 10px 0;
            border-bottom: 1px dashed #cdcdcd;
            &:first-child{
                border-top: 1px dashed #cdcdcd;
            }
            &:last-child{
                padding: 20px 0;
            }
        }
    }
    &-box{
        $pb: &;
        padding: 30px;
        border-radius: 2px;
        box-shadow: 0 0 35px 0 rgba(0,0,0,.2);
        transition: all .25s;
        &:hover{
            background: $brand-color;
            box-shadow: 0 0 0 0 rgba(0,0,0,.2);
        }
        &__ul{
        }
        &__ttl{
            color: #000;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            padding: 0 0 28px;
            transition: all .25s;
            span{
                transition: all .25s;
                color: $brand-color;
            }
            #{$pb}:hover &{
                color: #ffd3e4;
                span{
                    color: #fff;
                }
            }
            #{$pb}:hover &{}
        }
        &__li{
            padding: 10px 0;
            text-align: center;
            border-bottom: 1px dashed #cdcdcd;
            transition: all .25s;
            &-first{
                border-top: 1px dashed #cdcdcd;
            }
            &:last-child{
                border-bottom: none;
            }
            span{
                font-weight: 700;
                color: $brand-color;
                transition: all .25s;
            }
            &-point{
                font-size: 34px;
                padding: 2px 0;
            }
            &-subscribe{
                min-height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                &-left{
                    justify-content: flex-start;
                }
                p{
                    line-height: 1;
                }
            }
            #{$pb}:hover &{
                color: #fff;
                span{
                    color: #fff;
                }
            }
        }
        &__price{
            font-size: 24px;
            padding: 20px 0 10px;
            border-bottom: none;
            span{
                font-weight: 700;
                color: $blue-brand;
            }
        }
        &__button{
            &-box{
                padding-top: 5px;
                text-align: center;
            }
            #{$pb}:hover &{
                color: $brand-color;
                background: $white;
                border-color: $white;
                &:hover{
                    color:  $white;
                    background: none;
                    border-color: $white;
                }
                &:active{
                  color:  $white;
                  background: $white-hover;
                  border-color: $white;
                }
            }
        }
    }
}