.ttl{
    &-header{
        color: #ffffff;
        font-family: "Oswald", sans-serif;
        font-size: 50px;
        margin-bottom: 40px;
        &__box{
            padding-left: 55px;
        }
        &__subtitle{
            color: #ffffff;
            margin-bottom: 50px;
        }
    }
    &-h2{
        &__header{
            color: #6d7088;
            font-family: "Oswald", sans-serif;
            font-size: 50px;
            margin-bottom: 40px;
            text-align: center;
        }
        &__left{
            text-align: left;
        }
        &__white{
            color: $white;
        }
        &__mb20{
            margin-bottom: 20px;
        }
        &__sunttl{
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
        }
        &__rewiev{
            margin-top: 50px;
            margin-bottom: 40px;
        }
    }
}