.work{
    &-row{
        align-items: center;
    }
    &-icon{
        width: 70px;
        height: 70px;
        fill: $brand-color;
        &__box{
            margin-bottom: 30px;
        }
    }
    &-item{
        position: relative;
    }
    &-back{
        &__ttl{
            width: 100%;
            text-transform: uppercase;
            font-weight: bold;
            &-back{
                margin-bottom: 10px;
            }
        }
        &__p{
        }
    }
    &-mobile{
        display: none;
    }
    &-descr{
        &__p{
           
        }
    }
    &-button{
        font-size: 50px;
        font-family: 'LatoWebLight', sans-serif;
        color: #000000;
        position: absolute;
        right: 0;
        transform: rotate(90deg);
        &__close{
            color: #bdbdbd;
            transform: none;
            top: 0;
            right: 10px;
        }
    }
    &-popup{
        width: 100%;
        padding: 25px 40px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0 25px 0 rgba(0,0,0,.2);
        position: absolute;
        display: none;
        z-index: 2;
        top: 0;
        left: 0;
        &__box{
            text-align: center;
        }
        &__icon{
            width: 100% !important;
            margin-bottom: 10px !important;
        }
        &__ttl{
            width: 100% !important;
            margin-left: 0 !important;
            margin-bottom: 10px;
        }
    }
}

.flip-container {
    perspective: 1000px;
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}
.flip-container, .front, .back {
    height: 100%;
    min-height: 260px;
    margin-bottom: 30px;
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.front, .back {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.2);
    border-radius: 3px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.front {
    color: #000000;
    text-align: center;
    z-index: 2;
    transform: rotateY(0deg);
}
.back {
    background: $brand-color;
    text-align: center;
    color: #ffffff;
    transform: rotateY(180deg);
}
