.stages{
    &-slider{
        &__container{
            // width: 100%;
            max-width: 940px;
            margin: 0 auto;
            position: relative;
        }
        &__icon{
            width: 170px;
            fill: $brand-color;
            &-box{
                max-width: 630px;
                margin: 0 auto;
                display: flex;
                align-items: center;
            }
        }
        &__ol{
            width: calc(100% - 70px);
            padding-left: 70px;
        }
        &__li{
            list-style-type: decimal;
            margin-bottom: 5px;
        }
        &__slide{
            background: #f5f5f5;
            border-radius: 5px;
            padding: 50px 25px;
        }
        &__pagination{
            width: 100%;
            position: relative;
            margin-bottom: 50px;
            &-bulet{
                width: 100%;
                max-width: 300px;
                border-radius: 50px;
                height: auto;
                margin: 0 10px;
                padding: 22px 0;
                background: none;
                border: 1px dashed #babcca;
                transition: all .25s;
                opacity: .8;
                &.swiper-pagination-bullet-active{
                    color: #ffffff;
                    background: $brand-color;
                    border: 1px solid $brand-color;
                    opacity: 1;
                }
            }
        }
        &__prew,
        &__next{
            background: none;
            top: calc(50% + 12%);
            &::after{
                font-family: 'LatoWebLight', sans-serif;
                font-size: 80px;
                color: #babcca;
                line-height: 0.5;
            }
        }
        &__prew{
            &::after{
                content: '‹';
            }
        }
        &__next{
            &::after{
                content: '›';
            }
        }
    }
    &-mobile{
        display: none;
    }
}

.codex{
    &-slider{
        &__container{
            // width: 100%;
            max-width: 940px;
            margin: 0 auto;
            position: relative;
        }
        &__icon{
            width: 170px;
            fill: $brand-color;
            &-box{
                max-width: 630px;
                margin: 0 auto;
                display: flex;
                align-items: center;
            }
        }
        &__p{
            width: calc(100% - 70px);
            padding-left: 70px;
        }
        &__li{
            list-style-type: decimal;
            margin-bottom: 5px;
        }
        &__slide{
            border-radius: 5px;
            padding: 50px 15px;
        }
        &__pagination{
            width: 100%;
            position: relative;
            margin-bottom: 50px;
            &-bulet{
                width: auto;
                height: auto;
                margin: 0 25px;
                background: none;
                padding: 20px 24px;
                border-radius: 50px;
                border: 1px dashed #babcca;
                background: #fff;
                transition: all .25s;
                text-align: center;
                position: relative;
                opacity: 1;
                &.swiper-pagination-bullet-active{
                    color: #ffffff;
                    background: $brand-color;
                    border: 1px solid $brand-color;
                    opacity: 1;
                }
            }
        }
        &__prew,
        &__next{
            background: none;
            top: calc(50% + 12%);
            &::after{
                font-family: 'LatoWebLight', sans-serif;
                font-size: 80px;
                color: #babcca;
                line-height: 0.5;
            }
        }
        &__prew{
            &::after{
                content: '‹';
            }
        }
        &__next{
            &::after{
                content: '›';
            }
        }
    }
    &-pagination{
        &__box{
            width: 100%;
            max-width: 700px;
            margin: 20px auto 0;
            position: relative;
            &::before,
            &::after{
                content: '';
                width: 20px;
                height: 20px;
                border: 1px dashed #babcca;
                background: #fff;
                border-radius: 50px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
            }
            &::before{
                left: 0;
            }
            &::after{
                right: 0;
            }
        }
        &__line{
            width: 100%;
            background: #cccccc;
            position: absolute;
            top: 50%;
            margin: 0;
            z-index: 0;
        }
    }
}

.rewiev{
    &-slider{
        &__container{
            // width: 100%;
            max-width: 830px;
            margin: 0 auto;
            position: relative;
            box-shadow: 8px 8px 25px 0 rgba(0,0,0,.2);
        }
        &__icon{
            width: 170px;
            fill: $brand-color;
            &-box{
                max-width: 630px;
                margin: 0 auto;
                padding: 75px 15px;
                display: flex;
                align-items: center;
            }
        }
        &__quotes{
            margin-bottom: 24px;
        }
        &__date{
            margin-bottom: 24px;
        }
        &__author{
            color: #000;
            margin-bottom: 0;
            font-weight: 700;
        }
        &__li{
            list-style-type: decimal;
            margin-bottom: 5px;
        }
        &__slide{
            border-radius: 5px;
            padding: 75px 100px 65px;
            position: relative;
            &::before,
            &::after{
                font-family: "Roboto Condensed", sans-serif;
                font-size: 120px;
                color: $brand-color;
                position: absolute;
                top: 65px;
            }
            &::before{
                content: '“';
                left: 40px;
            }
            &::after{
                content: '”';
                right: 40px;
            }
        }
        &__pagination{
            width: 100%;
            position: relative;
            margin-bottom: 50px;
            &-bulet{
                width: auto;
                height: auto;
                margin: 0 25px;
                background: none;
                padding: 20px 24px;
                border-radius: 50px;
                border: 1px dashed #babcca;
                background: #fff;
                transition: all .25s;
                text-align: center;
                position: relative;
                opacity: 1;
                &.swiper-pagination-bullet-active{
                    color: #ffffff;
                    background: $brand-color;
                    border: 1px solid $brand-color;
                    opacity: 1;
                }
            }
        }
        &__prew,
        &__next{
            background: none;
            top: calc(50% - 5%);
            &::after{
                font-family: 'LatoWebLight', sans-serif;
                font-size: 80px;
                color: #babcca;
                line-height: 0.5;
            }
        }
        &__prew{
            &::after{
                content: '‹';
            }
        }
        &__next{
            &::after{
                content: '›';
            }
        }
    }
    &-pagination{
        &__box{
            width: 100%;
            max-width: 700px;
            margin: 45px auto 0;
            position: relative;
            .swiper-pagination-bullet{
                width: 10px;
                height: 10px;
                background: #babcca;
                transition: all .25s;
                margin: 0 10px;
                &-active{
                    background: $blue-brand;
                }
            }
        }
    }
}