.footer{
    &-row{
        align-items: center;
        align-content: center;
    }
    &-logo{
        &__icon{
            fill: #fff;
            width: 77px;
            height: 44px;
            &-box{

            }
        }
    }
    &-about{
        color: #fff;
        &__box{
            text-align: center;
        }
    }
    &-social{
        &__ul{
            text-align: right
        }
        &__li{
            display: inline-block;
        }
        &__link{
            margin-left: 5px;
        }
        &__icon{
            width: 30px;
            height: 30px;
            fill: #fff;
        }
    }
}