.header{
    &-row{
        padding: 10px 0;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #fff;
    }
    &-main{
        width: 100%;
        position: absolute;
        // padding: 10px 0;
        z-index: 2;
    }
    &-logo{
        &__icon{
            fill: #fff;
            width: 77px;
            height: 44px;
        }
    }
}