.section{
    &-one{
        background: url(images/bg-header.jpg) center/cover no-repeat;
        &__bg{
            background: url(images/girl-bg-header.png) right bottom/560px no-repeat;
        }
        &__container{
            padding-top: 160px;
            padding-bottom: 80px;
        }
    }
    &-two{
        padding-top: 100px;
        padding-bottom: 50px;
    }
    &-three{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &-four{
        padding-top: 30px;
        padding-bottom: 90px;
    }
    &-five{
        background: linear-gradient(to right,#ff9700 0%, #ff1e77 50%, #7800ff 100%);
        padding-top: 20px;
        text-align: left;
    }
    &-six{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &-seven{
        padding-top: 40px;
        padding-bottom: 25px;
    }
    &-eight{
        padding-top: 25px;
        padding-bottom: 80px;
    }
    &-nine{
        background: #f5f5f5;
        padding: 80px 0;
    }
    &-then{
        padding-top: 90px;
        padding-bottom: 65px;
    }
    &-eleven{
        background: #f5f5f5;
        padding-top: 75px;
    }
    &-twenty{
        padding-bottom: 70px;
    }
    &-thirteen{
        margin-bottom: 80px;
    }
    &-fifteen{
        background: $blue-brand;
        padding: 75px 0;
    }
}