@import "typography";
*{
  outline: none;
  box-sizing: border-box;
}
#map{
  width: 100%;
  height: 400px;
}
img{
  max-width: 100%;
}
.block-image{
  display: block;
}
a{
  color: inherit;
  text-decoration: none;
}
hr{
  background: #e6e6e6;
  border-color: #e6e6e6;
  color: #e6e6e6;
}
q{
  quotes: "\201c" "\201d";
}
p+p{
  margin-top:0.5em;
}
.flex-col{
  @include flexbox();
}
.input-error{
  display: none;
}
.dark{
  font-weight: 700;
  color: darken($color: #000000, $amount: 1)
}
.p0{
  padding-left: 0;
  padding-right: 0;
}
.text{
  &_block{
    width: 100%;
    display: block;
  }
  &__mb20{
    margin-bottom: 20px;
  }
  &-dark{
    font-weight: 700;
    color: darken($color: #000000, $amount: 1);
    &-uppercase{
      font-weight: 700;
      color: darken($color: #000000, $amount: 1);
      text-transform: uppercase;
    }
  }
  &-blue{
    color: $blue-brand;
    font-weight: 700;
  }
  &-brand{
    color: $brand-color;
  }
}
.section{
  &-regular{
    padding:2.5rem 0;
    @include minMedia(768){
      padding:4.5rem 0;
    }
  }
  &-title{
    margin-bottom:2.5rem;
    &--has-subtitle{
      margin-bottom:1.25rem;
      @include minMedia(768){
        margin-bottom:2.25rem;
      }
      .h2{
        margin-bottom: 1rem;
      }
    }
  }
  &--has-separator{
    padding:0;
    .container{
      padding:2.5rem 15px;
      border-bottom:1px solid #d8d8e6;
      @include minMedia(768){
        padding:4.5rem 0;
      }
    }
  }
}

.pointer{
  cursor: pointer;
}
.max-575{
  display: none;
  @include media(575){
    display: block
  }
}

.min-576,
.min-768,
.min-992,
.min-1200{
  display: none;
}
.min-576{
  @include minMedia(576){
    display: block;
  }
}
.min-768{
  @include minMedia(768){
    display: block;
  }
}
.min-992{
  @include minMedia(992){
    display: block;
  }
}
.min-1200{
  @include minMedia(1200){
    display: block;
  }
}
.wrapper{
  overflow: hidden;
}