@include media(1200){
    body{
        font-size: 16px;
    }
    .ttl-h2__header{
        font-size: 40px;
    }
    .button-main{
        font-size: 20px;
    }
    .check-social__col {
        padding: 0 15px;
    }
    .price-box__li-point {
        font-size: 32px;
    }
    .price-box {
        padding: 30px 15px;
    }
    .business-help__img{
        object-fit: cover;
    }
    .stages-slider__pagination-bulet{
        max-width: 30%;
    }
    .stages-slider__container,
    .rewiev-slider__container{
        max-width: 90%;
    }
}
@include media(992){
    .nav-link {
        padding: 25px 5px;
    }
    .ttl-header__box {
        padding-left: 0;
    }
    .ttl-h2__header {
        font-size: 35px;
    }
    .ttl-h2__white{
        font-size: 30px;
    }
    .section-one__bg {
        background: url(../images/girl-bg-header-mobile.png) center/450px no-repeat;
    }
    .price-desctope{
        display: none
    }
    .price-mobile{
        display: flex;
    }
    .price-box__li span {
        font-weight: 700;
        color: #000000;
        display: inline-block;
        transition: all .25s;
        padding-top: 5px;
        padding-right: 5px
    }
    .text-brand{
        color: $brand-color !important;
    }
    .price-box__price {
        font-size: 18px;
    }
    .about-img{
        display: none;
    }
    .section-eleven{
        padding-bottom: 40px;
    }
    .contact-col{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .contact-box{
        justify-content: center;
    }
    .codex-slider__container{
        width: 90%;
    }
}

@include media(767){
    .nav-mobile__button{
        display: block;
    }
    .nav-main{
        display: none;
    }
    .header-row{
      padding-bottom: 10px;
    }

    .business-help__img-box{
        display: none;
    }
    .business-help__descr {
        padding: 0;
        text-align: center;
    }
    .business-help__ttl {
        text-align: center;
        background: linear-gradient(45deg, #ff9700, #ff1e77, #7800ff);
        color: #fff;
        font-size: 33px;
        padding: 45px 20px;
    }
    .business-help__descr {
        padding-bottom: 50px;
    }
    .help-check__bg{
        background: none;
    }
    .price-box{
        max-width: 350px;
        margin: 0 auto 35px;
    }
    .price-box__li{
        border: none;
    }
    .check-social__box{
        margin-bottom: 35px;
    }
    .ttl-h2__br-none{
        br{
            display: none;
        }
    }
    .stages-desctope{
        display: none;
    }
    .stages-mobile{
        display: block;
    }
    .stages-slider__pagination-bulet {
        max-width: unset;
        display: inline-block;
        width: auto;
        height: auto;
        padding: 11px 18px;
        font-size: 24px;
    }
    .stages-slider__ol {
        width: auto;
        padding-left: 25px;
    }
    .stages-slider__icon-box{
        display: block;
    }
    .stages-slider__ttl{
        text-align: center;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px;
        span{
            color: $brand-color;
        }
    }
    .stages-slider__slide{
        background: none;
    }
    .stages-slider__pagination{
        padding-bottom: 0;
    }
    .text-mobile-center{
        text-align: center
    }
    .ttl-h2__nine{
        br{
            display: none;
        }
    }
    .codex-slider__pagination-bulet{
        margin: 0 10px;
    }
    .work-desctope{
        display: none;
    }
    .work-mobile{
        display: flex;
    }
    .work-icon__box,
    .work-icon {
        width: 40px;
        height: 40px;
        margin-bottom: 0;
        display: inline-block;
    }
    .work-back__ttl{
        width: auto;
        display: inline-block;
        margin-left: 15px;
    }
    .work-item{
        background: #ffffff;
        margin-bottom: 10px;
        border-radius: 4px;
        padding: 15px;
    }
    .work-ttl{
        display: flex;
        align-items: center;
        align-content: center;
    }
    .work-item__out{
        position: relative;
    }
    .work-subtitle{
        margin-bottom: 15px;
    }
    .rewiev-slider__prew, .rewiev-slider__next {
        background: none;
        top: calc(100% - 2%);
    }
    .about-row {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .about-box{
        margin-bottom: 15px;
        text-align: center;
        &:last-child{
            margin-bottom: 15px;
        }
    }
    .about-desctope{
        display: none;
    }
    .about-mobile{
        display: block;
    }
    .about-big-word span {
        font-size: inherit;
        margin-right: 0;
    }
    .about-big-word {
        display: block;
        line-height: 1.4;
        margin-bottom: 0;
    }
    .about-li {
        margin-bottom: 10px;
        position: relative;
        padding-left: 0;
        line-height: 1.3;
        transition: all .25s;
    }
    .about-ttl{
        text-transform: none;
    }
    .about-li::before {
        content: '\2022';
        font-size: 30px;
        color: #ff1e77;
        line-height: 0.8;
        position: relative;
        top: 5px;
        left: -7px;
    }
    .sale-help__row{
        flex-direction: column-reverse;
    }
    .sale-help__ttl,
    .sale-help__descr{
        text-align: center;
    }
    .sale-help__ttl{
        margin-bottom: 20px;
    }
    .sale-help__descr{
        padding: 30px 15px 35px;
    }
    .sale-help__img-box{
        height: 160px;
    }
}
@include media(575){
    .row{
        margin-left: 0;
        margin-right: 0;
    }
    #map{
        display: none;
    }
    .footer-logo__icon-box,
    .footer-about__box,
    .footer-social__ul{
        text-align: center;
    }
    .footer-about__box{
        margin: 15px 0;
    }
    .contact-icon__box {
        margin-right: 10px;
    }
    .contact-icon {
        max-width: 30px;
        max-height: 30px;
        width: 30px;
        height: 30px;
    }
    .help-check__bg {
        text-align: center;
        justify-content: center;
    }
    .ttl-header__box {
        padding-left: 0;
    }
    .ttl-h2__header,
    .ttl-header__box{
        text-align: center;
    }
    .box-help__ttl{
        br{
            display: none;
        }
    }
    .section{
        &-one{
            &__container{
                padding-top: 160px;
                padding-bottom: 45px;
            }
        }
        &-two{
            padding-top: 25px;
            padding-bottom: 10px;
        }
        &-three{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        &-four{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        &-five{
            padding-top: 10px;
            text-align: left;
        }
        &-six{
            padding-top: 26px;
            padding-bottom: 10px;
        }
        &-seven{
            padding-top: 0px;
            padding-bottom: 10px;
        }
        &-eight{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        &-nine{
            padding: 20px 0;
        }
        &-then{
            padding-top: 10px;
            padding-bottom: 25px;
        }
        &-eleven{
            padding-top: 25px;
        }
        &-twenty{
            padding-bottom: 10px;
        }
        &-thirteen{
            margin-bottom: 10px;
        }
        &-fifteen{
            background: $blue-brand;
            padding: 30px 0;
        }
    }
    .ttl-h2__header {
        font-size: 30px;
    }
    .cta-box{
        padding: 55px 0 45px;
    }
    .codex-slider__icon-box{
        display: block;
        text-align: center;
    }
    .codex-img__box{
        margin-bottom: 10px;
        img{
            max-width: 120px;
        }
    }
    .codex-slider__pagination-bulet{
        padding: 15px 19px;
    }
    .codex-pagination__line{
        display: none;
    }
    .codex-pagination__box::before, .codex-pagination__box::after{
        content: none;
    }
    .stages-slider__pagination{
        margin-bottom: 0;
    }
    .codex-slider__slide{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .ttl-h2__header{
        br{
            display: none;
        }
    }
    .rewiev-slider__slide {
        padding: 60px 28px 30px;
    }
    .rewiev-slider__slide::after{
        content: none;
    }
    .rewiev-slider__slide::before{
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .codex-slider__p{
        width: 100%;
        padding-left: 0;
    }
    .section-one__bg{
        background-size: contain;
    }
    .section-one{
        background: #7800ff; /* Old browsers */
        background: -moz-linear-gradient(45deg, #ff9700 0%, #ff1e77 50%, #7800ff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #ff9700 0%,#ff1e77 50%,#7800ff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #ff9700 0%,#ff1e77 50%,#7800ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9700', endColorstr='#7800ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    .price-box__price{
        span{
            color: $blue-brand;
        }
    }
    .codex-col__box,
    .rewiev-col__box{
        padding: 0;
    }
    .codex-slider__prew{
       left: 0; 
    }
    .codex-slider__next{
        right: 0;
    }
    .contact-col {
        margin-bottom: 25px;
    }
    .contact-row {
        margin: 80px auto 82px;
    }
    .cta-ttl{
        padding: 0 5px;
    }
}
@include media(480){
    .button-main {
        font-size: 16px;
    }
    .ttl-header{
        font-size: 30px;
    }
    .ttl-header__subtitle{
        br{
            display: none;
        }
    }
    .box-help__icon {
        width: 27px;
        height: 27px;
    }
    .box-help__descr{
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
        padding-left: 5px;
    }
    .box-help__icon-box {
        max-width: 30px;
    }
    .box-help__ttl{
        margin-bottom: 5px;
    }
    .box-help {
        padding: 10px 0;
    }
    .codex-slider__pagination-bulet {
        margin: 0 5px;
    }
    .ttl-h2__header {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .header-logo__icon{
        width: 52px;
    }
    .section-one__container {
        padding-top: 114px;
        padding-bottom: 40px;
    }
    .check-social__box {
        margin-bottom: 10px;
    }
    .check-social__ttl-box{
        padding: 10px 0;
    }
    .check-social__descr{
        padding: 15px 20px;
    }
    .check-social__li{
        text-align: center;
        display: inline-block;
    }
    .check-social__button-box {
        padding: 10px 0;
    }
    .section-five{
        margin: 0 15px;
    }
    .price-box {
        padding: 25px 15px;
    }
    .price-box__ttl{
        padding: 0 0 10px;
    }
    .price-box__li {
        padding: 5px 0;
    }
    .price-box{
        margin-bottom: 10px;
    }
    .work-icon__box, .work-icon {
        width: 25px;
        height: 25px;
    }
    .work-button{
        top: -10px;
    }
    .modal__close {
        right: -15px;
    }
    .sale-help__ttl,
    .business-help__ttl,{
        font-size: 20px;
    }
    .help-check__bg{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@include media(380){
    .button-main{
        padding: 14px 15px;
    }
}