@font-face {
    font-family: 'Oswald';
    src: local('Oswald Light'), local('Oswald-Light'), url('../fonts/Oswald/Oswaldlight.woff2') format('woff2'), url('../fonts/Oswald/Oswaldlight.woff') format('woff'), url('../fonts/Oswald/Oswaldlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald Regular'), local('Oswald-Regular'), url('../fonts/Oswald/Oswaldregular.woff2') format('woff2'), url('../fonts/Oswald/Oswaldregular.woff') format('woff'), url('../fonts/Oswald/Oswaldregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald DemiBold'), local('Oswald-DemiBold'), url('../fonts/Oswald/Oswalddemibold.woff2') format('woff2'), url('../fonts/Oswald/Oswalddemibold.woff') format('woff'), url('../fonts/Oswald/Oswalddemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald RegularItalic'), local('Oswald-RegularItalic'), url('../fonts/Oswald/Oswaldregularitalic.woff2') format('woff2'), url('../fonts/Oswald/Oswaldregularitalic.woff') format('woff'), url('../fonts/Oswald/Oswaldregularitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald MediumItalic'), local('Oswald-MediumItalic'), url('../fonts/Oswald/Oswaldmediumitalic.woff2') format('woff2'), url('../fonts/Oswald/Oswaldmediumitalic.woff') format('woff'), url('../fonts/Oswald/Oswaldmediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald ExtraLightItalic'), local('Oswald-ExtraLightItalic'), url('../fonts/Oswald/Oswaldextralightitalic.woff2') format('woff2'), url('../fonts/Oswald/Oswaldextralightitalic.woff') format('woff'), url('../fonts/Oswald/Oswaldextralightitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald HeavyItalic'), local('Oswald-HeavyItalic'), url('../fonts/Oswald/Oswaldheavyitalic.woff2') format('woff2'), url('../fonts/Oswald/Oswaldheavyitalic.woff') format('woff'), url('../fonts/Oswald/Oswaldheavyitalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald Heavy'), local('Oswald-Heavy'), url('../fonts/Oswald/Oswaldheavy.woff2') format('woff2'), url('../fonts/Oswald/Oswaldheavy.woff') format('woff'), url('../fonts/Oswald/Oswaldheavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald LightItalic'), local('Oswald-LightItalic'), url('../fonts/Oswald/Oswaldlightitalic.woff2') format('woff2'), url('../fonts/Oswald/Oswaldlightitalic.woff') format('woff'), url('../fonts/Oswald/Oswaldlightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald Medium'), local('Oswald-Medium'), url('../fonts/Oswald/Oswaldmedium.woff2') format('woff2'), url('../fonts/Oswald/Oswaldmedium.woff') format('woff'), url('../fonts/Oswald/Oswaldmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'), url('../fonts/Oswald/Oswaldextralight.woff2') format('woff2'), url('../fonts/Oswald/Oswaldextralight.woff') format('woff'), url('../fonts/Oswald/Oswaldextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald BoldItalic'), local('Oswald-BoldItalic'), url('../fonts/Oswald/Oswaldbolditalic.woff2') format('woff2'), url('../fonts/Oswald/Oswaldbolditalic.woff') format('woff'), url('../fonts/Oswald/Oswaldbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald DemiBoldItalic'), local('Oswald-DemiBoldItalic'), url('../fonts/Oswald/Oswalddemibolditalic.woff2') format('woff2'), url('../fonts/Oswald/Oswalddemibolditalic.woff') format('woff'), url('../fonts/Oswald/Oswalddemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald Bold'), local('Oswald-Bold'), url('../fonts/Oswald/Oswaldbold.woff2') format('woff2'), url('../fonts/Oswald/Oswaldbold.woff') format('woff'), url('../fonts/Oswald/Oswaldbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url('../fonts/RobotoCondensed/Robotocondensedlight.woff2') format('woff2'), url('../fonts/RobotoCondensed/Robotocondensedlight.woff') format('woff'), url('../fonts/RobotoCondensed/Robotocondensedlight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url('../fonts/RobotoCondensed/Robotocondensedlightitalic.woff2') format('woff2'), url('../fonts/RobotoCondensed/Robotocondensedlightitalic.woff') format('woff'), url('../fonts/RobotoCondensed/Robotocondensedlightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('../fonts/RobotoCondensed/Robotocondensed.woff2') format('woff2'), url('../fonts/RobotoCondensed/Robotocondensed.woff') format('woff'), url('../fonts/RobotoCondensed/Robotocondensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url('../fonts/RobotoCondensed/Robotocondenseditalic.woff2') format('woff2'), url('../fonts/RobotoCondensed/Robotocondenseditalic.woff') format('woff'), url('../fonts/RobotoCondensed/Robotocondenseditalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('../fonts/RobotoCondensed/Robotocondensedbold.woff2') format('woff2'), url('../fonts/RobotoCondensed/Robotocondensedbold.woff') format('woff'), url('../fonts/RobotoCondensed/Robotocondensedbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url('../fonts/RobotoCondensed/Robotocondensedbolditalic.woff2') format('woff2'), url('../fonts/RobotoCondensed/Robotocondensedbolditalic.woff') format('woff'), url('../fonts/RobotoCondensed/Robotocondensedbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'LatoWebLight';
  src: url('../fonts/Lato/Lato-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/Lato/Lato-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}


html{
  font-size: 18px;
  line-height: 1.25;
  @include minMedia(576){
    font-size: 16px;
  }
}

body{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $mid-grey;
  @include minMedia(576){
    // font-size: 1rem;
  }
}
p{
  line-height:1.5;
}
@include placeholderColor(inherit);
.text{
  &--center{
    text-align: center;
  }
  &--white{
    color:#fff;
  }
  &--bold{
    font-weight: 700;
  }
  &--right{
    text-align: right;
  }
  &--uppercase{
    text-transform: uppercase;
  }
  &--error{
    color:red;
  }
}

.terms-of-agreement{
  font-size: 12px;
  text-align: center;
  color: map_get($theme-color,'gray');
  & a{
    color: map_get($theme-color,'light-blue');
    text-decoration: underline;
  }
}
.input-error{
  color:red;
  font-size:13px;
}

.h1{
  font-size: 24px;
  line-height:28px;
  color: #253782;
  @include minMedia(768){
    font-size: 3.25rem;
    line-height:3.5rem;
  }
}
.h2{
  font-size: 22px;
  line-height:1.5;
  @include minMedia(768){
    font-size: 2.625rem;
    line-height: 3.25rem;
  }
}